.intro {
    /* height: calc(100vh - 4rem); */
    min-height: 100vh;
    width: 100%;
    max-width: 80rem;
    box-sizing: border-box;
    position: relative;     
    margin: 0 auto;
    /* border: 1px solid white; */
    overflow: hidden;

}

.introContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
    height: auto;
    width: 100%;
    max-width: 70vw;
    font-size: 3rem;
    padding: 2rem;
    font-weight: 700;
}

.introContent h1,
p,
button {
    margin-top: 14px;
}

.intropara {
    font-size: medium;
    font-weight: 100;
}

.introContent h2 {
    font-size: 28px
}

.introContent h1 {
    font-weight: 800;
    font-size: 36px;

}

.hiremebtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: white;
    color: black;
    width: 120px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
}

.fa-briefcase {
    padding: 0 5px;
}


.introPic {
    z-index: -1;
    object-fit: cover;
    height:90vh;
    position: absolute;
    top: 5px;
    right: 8px;
    /* border: 1px solid white; */
    /* width: auto; */
}
@media only screen and (max-width: 285px) {
    
    .introContent h1{
        font-size: 18px;
    }
}
@media only screen and (min-width: 285px) and (max-width:320px) {
    .introContent h1{
        font-size: 21px;
    }
}
@media only screen and (min-width: 320px) and (max-width:426px) {
    .introContent h1{
        font-size: 24px;
    }
}
@media only screen and  (max-width:431px) {
    .introPic{
    text-align: center;
    height: 55vh;
    right: -47px;
    }
}
@media only screen and (max-width:580px) {
    .introContent{
        max-width: none;
    }
}