.Footer {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(40, 40, 40);
    font-size: small;
    font-weight: 300;
}
@media only screen and (max-width: 320px) {
    .Footer {

       text-align: center;
    }
    


}